<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jinku.im.repository.dao.MessageDao">

    <resultMap id="BASE_RESULT" type="org.jinku.im.repository.dao.po.MessagePo">
    </resultMap>

    <sql id="ALL_COLUMNS">
    id, msg_id, sender_id, group_type, group_id, msg_data, valid, ctime, utime
    </sql>
    <sql id="INSERT_COLUMNS">
    msg_id, sender_id, group_type, group_id, msg_data, valid, ctime, utime
    </sql>

    <insert id="insert" parameterType="org.jinku.im.repository.dao.po.MessagePo">
        insert into message(<include refid="INSERT_COLUMNS"/>)
        values(#{msgId},#{senderId},#{groupType},#{groupId},#{msgData}, 1, UNIX_TIMESTAMP(now()), UNIX_TIMESTAMP(now()))
    </insert>

    <select id="selectById" resultMap="BASE_RESULT">
        select <include refid="ALL_COLUMNS"/>
        from message
        where msg_id = #{msgId}
    </select>
</mapper>